version: '3.8'

services:
  pay-server:
    image: jinyoung1226/pay-server:latest
    container_name: pay-server
    ports:
      - "8082:8082"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mariadb://mariadb:3306/sql_db
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=SqlDba-1
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - TOSS_PAYMENT_API_SECRET_KEY=${TOSS_SECRET_KEY}
    depends_on:
      - mariadb
      - kafka
    networks:
      - app-network
    restart: unless-stopped

  mariadb:
    image: mariadb:11.2
    container_name: mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=SqlDba-1
      - MYSQL_DATABASE=sql_db
    ports:
      - "3379:3306"
    volumes:
      - mariadb-data:/var/lib/mysql
    networks:
      - app-network
    restart: unless-stopped

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - app-network
    restart: unless-stopped

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_INTERNAL://0.0.0.0:29092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - app-network
    restart: unless-stopped

volumes:
  mariadb-data:

networks:
  app-network:
    driver: bridge
